<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Travel App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="{% block body_class %}{% endblock %}">

    {% include 'navbar.html' %}
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            
        {% block content %}{% endblock %}
        
        {% block scripts %}{% endblock %}
    </main>

</body>
</html>