{% extends "base.html" %}

{% block title %}Explore Destinations - TravelPlanner{% endblock %}
{% block body_class %}explore-page{% endblock %}

{% block content %}
  <div class="dashboard-container">
    <div class="dashboard-card">
      
      <div class="dashboard-header">
        <h2>Explore Destinations</h2>
        <a href="{{url_for('dashboard')}}" class="logout-btn">Back</a>
      </div>

      <div class="input-group" style="margin-bottom: 25px;">
        <i class="bi bi-search"></i>
        <input type="text" placeholder="Search destinations...">
      </div>

      <div class="trip-summary">
        <h3>Popular Places</h3>
        <div class="trip-cards">

          {% for d in destinations %}
          <a href="{{ url_for('itinerary', city=d.name) }}" class="trip-card-link">
            <div class="trip-card">
              <img src="https://picsum.photos/seed/{{ d.name | urlencode }}/600/400"
              alt="{{ d.name }}">
              <div class="trip-info">
                <h4>{{ d.name }}</h4>
                <p>{{ d.desc }}</p>
              </div>
            </div>
          </a>
          {% endfor %}

        </div>
      </div>

      <div class="dashboard-actions">
        <a href="{{url_for('create_trip')}}"class="btn">Plan Your Trip</a>
      </div>

      <div class="dashboard-footer">
        Discover, dream & travel ✈️
      </div>

    </div>
  </div>
{% endblock%}