{% extends "base.html" %}

{% block title %}Profile - TravelPlanner{% endblock %}
{% block body_class %}profile-page{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2 class="text-center mb-4">Your Profile</h2>

    <div class="profile-card">
      <div class="profile-header text-center">
        <div class="profile-img mb-3">
          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Profile Picture">
        </div>
        <h4 class="profile-name">John Doe</h4>
        <p class="profile-email text-muted">john.doe@example.com</p>
        <button class="btn btn-primary mt-2"><i class="bi bi-pencil"></i> Edit Profile</button>
      </div>

      <hr><br>

      <div class="profile-details">
        <h3>Account Information</h3><br>

        <div class="detail-row">
          <strong>Username:</strong> <span>johndoe</span>
        </div>

        <div class="detail-row">
          <strong>Phone:</strong> <span>9876543210</span>
        </div>

        <div class="detail-row">
          <strong>Joined On:</strong> <span class="nowrap">March 12, 2024</span>
        </div>
      </div>
      </div>
    </div>
  </div>
{%endblock%}